# Dependências
node_modules/

# Variáveis de ambiente
.env

# Logs
*.log
npm-debug.log*

# Ficheiros temporários
.tmp/
.cache/

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Docker
.dockerignore